.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 36vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.move-up {
  margin-top: -25px;
}

.block {
  display: inline-block;
}


.active a {
    color: red;
  }

.active {
  background-color: #bae5ff;
  border-width: thin;
  border-style: solid;
}

.pagination {
  margin: 10px;
  border-radius: 11px;
  border-color: green;
}
.pagination li {
  margin: 4px;
  padding: 5px;
  border-radius: 18px;
  border-color: green;
}
.pagination li:hover {
  background-color: #bae5ff;
  cursor: pointer;
}

.pages {
  margin: 10px;
  border: 2px;
  border-color: green;
}
